:root {
  --background-color: #eed9ff;
  --first-accent-color: #ff570a;
  --second-accent-color: #89608e;
  --main-font-color: #0e0b0ede;
  --accent-font: "Hind Madurai", sans-serif;
  --maine-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
 box-sizing: border-box;
  /*box-sizing: content-box;*/
 
  font-family: var(--maine-font);
  color: var(--main-font-color);
}
header {
  background-color: var(--background-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: var(--accent-font);
  color: var(--main-font-color);
}
.home-icon {
  color: var(--second-accent-color);
}
.navbar {
  min-height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 0 20px;
  background-color: var(--background-color);
}
.nav-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 23px;
}

.nav-branding {
  font-size: 22px;
  display: none;
}
.nav-link {
  transition: 0.5s ease;

  font-size: 18px;
  font-weight: 400;
}
.nav-link:hover {
  color: #827982ce;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-font-color);
}

/*@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;

    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item {
    margin: 13px 0;
  }
  .nav-menu.active {
    top: 0;
    left: 0;
  }
  .nav-branding {
    display: block;
  }
  .home-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
*/
.home-section {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 110px;
  text-align: center;

}
.icon-section-maine {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  gap: 28px;
  opacity: 0.9;
}
.icon-contact {
  width: 45px;
  border-radius: 100%;
  box-shadow: rgba(41, 39, 39, 0.644) 0px 2px 8px 0px;
  transition: all 0.3s ease-in-out;
}
.icon-contact:hover {
  cursor: pointer;
  opacity: 0.6;
}
.text-selection-frontend {
  color: var(--first-accent-color);
}
.text-selection-design {
  color: var(--second-accent-color);
}






















.download-cv-btn {
  padding: 24px 10px;
  border-radius: 20px;
  background-color: var(--second-accent-color);
  color: #fff;
  border: 1 solid var(--second-accent-color);
  margin: 35px;
  box-shadow: rgba(26, 1, 32, 0.436) 0px 2px 8px 0px;
  transition: all 0.6s ease-in-out;
}
.download-cv-btn:hover {
  background-color: #553759;
  border: 1 solid #553759;
  
}

.cv-btn {


 font-size: 18px;
  border-radius: 16px;
  background-color: var(--second-accent-color);
  color: #fff;
  border: 1 solid var(--second-accent-color);
  margin: 35px;
  box-shadow: rgba(26, 1, 32, 0.288) 0px 1px 7px 0px;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
 padding: 20px 25px;
 margin-left: 25%;
  margin-right: 25%;
  
}
.cv-btn:hover{
  background-color: #553759;
  border: 1 solid #553759;


}































.frontend-maine-section {
  background-color: #fff;
}

.project-frontend-btn {
  color: var(--first-accent-color);
  font-family: var(--accent-font);
  border-radius: 15px;
  padding: 14px 15px;
  border: 1px solid var(--first-accent-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 8px 0px;
  transition: ease-in-out 600ms;
  font-size: 18px;
  line-height: 27px;
}

.project-frontend-btn:hover {
  color: #fff;
  background-color: #ff580acc;
}
.project1-photo{
  width: 100%;
}


.underline-element
{
  text-decoration: underline;
  text-decoration-color: #ff570a;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.about-name{
  font-size: 26px;
}


.aboutme-description{
  text-align: justify;

}
.content-section{
  margin-top: 150px;
}



.decoration-background-one{
position: absolute;
left: 0;
top: 100px;
  width: 250px;
  height: 460px;
  border-radius: 0 14rem  14rem 0 ;
  background-color: #eed9ff29;
  z-index: -1;
}
.decoration-background-two{
  position: absolute;
right: 0;

  width: 165px;
  height: 330px;
  border-radius:  14rem 0 0 14rem ;
  background-color: #eed9ff29;
  z-index: -1;
}
/*
.icon-section-about{

  position: absolute;
  
  
  opacity: 0.9;
}

.icon-about{
    width: 40px;
  border-radius: 100%;
  box-shadow: rgba(41, 39, 39, 0.644) 0px 2px 8px 0px;
  transition: all 0.3s ease-in-out;
}


.icon-about:hover {
  cursor: pointer;
  opacity: 0.6;
}
*/

.portfolio-photo{
  border-radius: 50%;
  width: 360px;
  position: relative;
}

.descr-img{
  text-align: center;

}

.grid-container{
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  
 gap: 4px;
}
.grid-item{
  width: 120px;
  transition:  all 0.3s ease;
  
}
.grid-item:hover{
  background-color: #ca14e71f;
 
  border: 1 solid transparent;
  border-radius: 8px;
  
}
.grid-img{
  width: 120px;
  
  padding: 15px 30px;


}
.grid-card{
background-color: #965f9c1c;
border: 1 solid transparent;
}
/*
.certificate1, .certificate2, .certificate3
{
  width: 650px;
}
.certificate4{
  width: 300px;
}*/
 

.scroll-element{
  padding: 10px;
  margin-top: 10px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.certificates-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  gap: 16px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-bottom: 10px; 
  
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.link-socialmedia{
  color: #5c3a60;
  text-decoration: underline;
  transition:  all 0.3s ease;

}

.link-socialmedia:hover{
  color: #351739;
}
.name-link{
  font-family: var(--accent-font);
  font-size: 20px;
margin-bottom: 0;
margin-top: 20px;
}


.comment-box{
  width: 400px;
}

.comment-box input{
  width:100%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #351739;
}
.comment-box input:focus{
border: 1px solid #825988 ;
outline: 0;
}
.comment-box textarea {
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  border-radius: 5px;
    border: 1px solid #351739;
}

.comment-box textarea:focus{
  border: 1px solid #b773c2 ;
outline: 0;
}
.comment-box button
{
  border: 1px solid #825988; 
  border-radius: 15px;
  background-color:var(--second-accent-color);
  color: #ffffff;
  padding: 13px 17px;
  display: block;
  margin: 10px auto;
  transition:  all 0.6s ease;
  box-shadow: rgba(26, 1, 32, 0.288) 0px 1px 7px 0px;
}

.comment-box button:hover{
  background-color:#553759;
    border: 1px solid #553759;
}


footer{
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 500px;
  background-color: var(--background-color);

}











@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
right: 0%;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item {
    margin: 13px 0;
  }
  .nav-menu.active {
    top: 0;
    left: 0;
  }
  .nav-branding {
    display: block;
  }
  .home-section {
    padding-top: 15%;
    padding-bottom: 7%;
    
  }

  .image{
    position: relative;
    
  }


.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.621);
	color: #ffffff;
	font-family: var(--maine-font);
	display: flex;
	flex-direction: column;
	align-items: center;
  text-align: center;
  font-size: 15px;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.35s;
  border-radius: 10px;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}
/*
.image__overlay--primary {
	background: #009578;
}
*/
.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.35s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image-description {
color: #ffffff;
	margin-top: 0.25em;
  	font-family: var(--maine-font);
    margin-left: 10px;
    margin-right: 10px;

}
.portfolio-photo{
  width: 270px;
  display: block;
  margin: 0 auto;

}
.content-section{

padding: 0 ;
text-align: center;
}
.cv-btn{
  display: flex;
  justify-content: center;
    font-size: 16px;
}
.about-name{
  text-align: center;
  margin: 2px;
 
}
footer{
  margin-top: 380px;
}

}

@media (max-width: 576px) {




.image-description {font-size: 12px;}
.home-section {
  
  padding-top: 120px;
  padding-bottom: 40px;
  

}
.icon-section-maine {
 
  margin-top: 36px;
  gap: 18px;
 
}
.icon-contact {
  width: 38px;
opacity: 0.9;
}
.icon-contact:hover{
  opacity: 0.7;
}
.download-cv-btn{
  margin-bottom: 10px;
  margin-top: 7px;
}
.portfolio-photo{
  width: 180px;
 
  display: block;
  margin: auto;
  margin-bottom: 25px;


}
.content-section{
  margin-top: 120px;
}
.cv-btn{

  font-size: 15px;
}

.about-name{
  text-align: center;
margin: 20px;
 

  font-size: 20px;
}
.aboutme-description{
  font-size: 15px;
  margin:25px ;
}





.grid-container{

   grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  
 gap: 3px;
}
.grid-item{
  width: 90px;
  transition:  all 0.3s ease;
  
}
.grid-item:hover{
  background-color: #c7aaca48;
 
  border: 1 solid transparent;
  border-radius: 8px;
  
}
.grid-img{
  width: 90px;
  
  padding: 10px 20px;
}



.scroll-element{
  padding: 6px;
  margin-top: 6px;

}


.certificates-scroller{

  grid-auto-columns: 90%;
  gap: 10px;

  
}

.grid-card{
  margin-top: 0;
    display: block;
margin: 0 auto ;
}


footer{
  margin-top: 360px;

}

.comment-box{
  width: 330px;
margin: auto;
}

}