:root {
  --background-color: #eed9ff;
  --first-accent-color: #ff570a;
  --second-accent-color: #89608e;
  --main-font-color: #0e0b0ede;
  --accent-font: "Hind Madurai", sans-serif;
  --maine-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
 box-sizing: border-box;
  /*box-sizing: content-box;*/
 
  font-family: var(--maine-font);
  color: var(--main-font-color);
}
header {
  background-color: var(--background-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: var(--accent-font);
  color: var(--main-font-color);
}
.home-icon {
  color: var(--second-accent-color);
}
.navbar {
  min-height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 0 20px;
  background-color: var(--background-color);
}
.nav-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 23px;
}

.nav-branding {
  font-size: 22px;
  display: none;
}
.nav-link {
  transition: 0.5s ease;

  font-size: 18px;
  font-weight: 400;
}
.nav-link:hover {
  color: #623366e4;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-font-color);
}

/*@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;

    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item {
    margin: 13px 0;
  }
  .nav-menu.active {
    top: 0;
    left: 0;
  }
  .nav-branding {
    display: block;
  }
  .home-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
*/
.home-section {
  background-color: var(--background-color);
  padding-top: 235px;
  padding-bottom: 125px;
  text-align: center;

}
.icon-contact-section {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  gap: 28px;
  opacity: 0.9;
}
.icon-contact {
  width: 45px;
  border-radius: 100%;
  box-shadow: rgba(41, 39, 39, 0.644) 0px 2px 8px 0px;
  transition: all 0.3s ease-in-out;
}
.icon-contact:hover {
  cursor: pointer;
  opacity: 0.6;
}
.text-selection-frontend {
  color: var(--first-accent-color);
}
.text-selection-design {
  color: var(--second-accent-color);
}
.download-cv-btn {
  padding: 24px 10px;
  border-radius: 20px;
  background-color: var(--second-accent-color);
  color: #fff;
  border: 1 solid var(--second-accent-color);
  margin: 35px;
  box-shadow: rgba(26, 1, 32, 0.436) 0px 2px 8px 0px;
  transition: all 0.7s ease-in-out;
}
.download-cv-btn:hover {
  background-color: #553759;
  border: 1 solid #553759;
  box-shadow: rgba(31, 31, 31, 0.336) 0px 2px 8px 0px;
}
.frontend-maine-section {
  background-color: #fff;
}

.project-frontend-btn {
  color: var(--first-accent-color);
  font-family: var(--accent-font);
  border-radius: 15px;
  padding: 14px 15px;
  border: 1px solid var(--first-accent-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 8px 0px;
  transition: ease-in-out 600ms;
  font-size: 18px;
  line-height: 27px;
}

.project-frontend-btn:hover {
  color: #fff;
  background-color: #ff580acc;
}



@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;

    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item {
    margin: 13px 0;
  }
  .nav-menu.active {
    top: 0;
    left: 0;
  }
  .nav-branding {
    display: block;
  }
  .home-section {
    padding-top: 45%;
    padding-bottom: 25%;
    
  }
}
